---

import Layout from "../../layouts/Layout.astro"
import SubscribeSection from "../../components/SubscribeSection.astro";
import NewsletterSectionExternalForm from "../../components/NewsletterSectionExternalForm.astro"
import newsletter from "/src/data/newsletter.json"
import global_settings from "/src/data/global_settings.json"

---
<div>
<Layout title="Subscribe Today" global_settings={global_settings}>

<SubscribeSection/>

    <NewsletterSectionExternalForm newsletter={newsletter} />

    </div>
  </section>
  

</Layout>
