---

import Layout from "../../layouts/Layout.astro"
import SubscribeSection from "../../components/SubscribeSection.astro";
import NewsletterSectionExternalForm from "../../components/NewsletterSectionExternalForm.astro"
import newsletter from "../../data/newsletter.json"

---
<div>
<Layout title="Subscribe Today">

<SubscribeSection/>

    <NewsletterSectionExternalForm newsletter={newsletter} />

    </div>
  </section>
  

</Layout>
