---
import Logo from '../assets/theme-images/logo.svg'
import LogoText from '../assets/theme-images/logo-text.svg'
import RadarAnimation from './RadarAnimation.astro';
const { settings } = Astro.props
---
<footer class="@container bs-container my-24 font-semibold text-bs-foreground-dark [&_a]:hover:text-bs-foreground-light [&_a]:transition-color [&_a]:duration-150" id="contact">
  <!-- Wrapper -->
  <! -- GRID DEPTH 1 
  mobile first:
  | -- left --  |
  | -- right -- |

  large:
  | -- left --  | --------- right -- |
  -->
  <div class="bg-bs-surface-2 p-6  rounded-xl grid grid-cols-1 md:grid-cols-2 ">
      <!-- Left col -->
      <div style="width:256px;" class="grid grid-cols-1 lg:grid-cols-2 text-bs-foreground-light">
        <!-- Logo -->
        <div class="" style="width:256px;" >
        <a href="#top" aria-label="Back to top">
        <RadarAnimation/>
        </a>
        </div>
      </div>

      <!-- Right col -->
      <! GRID DEPTH 2

      mobile first: 
      | -- n12,cta(3/4) -- |
      |  ---   logo   ---  |

      large:
      | -- n12,cta(3/4) -- | -- logo -- |

      -->
      <div class="grid grid-cols-1 lg:grid-cols-2 [&_a]:block md:[&_a]:px-5 [&_a]:py-2">
            <!-- GRID DEPTH 3/4
            mobile first 
            
            | -- nav1 -- |
            | -- nav2 -- |
            | -- cta  -- | 

            large:
            | -- nav1 -- | -- nav2 -- |
            | ----      cta     ----- |
            
            -->
        <div class="grid grid-cols-1">
          <div class="grid grid-cols-1 lg:grid-cols-2">

            <div>
              { settings.nav.sort((a,b) => a.title.localeCompare(b.title)).map( item =>
                <a href={ item.link }>
                  { item.title }
                </a>
              )}
            </div>
            <div>
              { settings.social_links.sort((a,b) => a.title.localeCompare(b.title)).map( item =>

                <a href={ item.link }>
                  { item.title }
                </a>

              )}
            </div>
          </div>
          <div>
            <div class="mb-10 lg:mb-0 lg:mr-10">
              <a type="button" class="min-w-32 bs-btn block bg-bs-surface-3" href="/#subscription-form" style="background-color:#990066;">
              { settings.demo.cta }
              </a>
            </div>
          </div>
        </div> <! -- /END GRID DEPTH 3/4 -->

        <div class="" style="width:256px;">
          <LogoText width="256" height=256"/>
        </div>
      </div> <! -- /END GRID DEPTH 2 -->
   </div> <! -- /END GRID DEPTH 1 -->
  <!-- Colophon -->
  <aside class="bs-container">
      <nav class="flex gap-4 justify-center pt-16 md:pt-24 text-xs">
        <!-- Copyright/Date -->
        <a href="https://newliteracy.online/">newliteracy technology consultants</a>
      </nav>
  </aside>
</footer>

