---

import Logo from '../assets/theme-images/logo.svg'
import LogoText from '../assets/theme-images/logo-text.svg'

const { settings } = Astro.props

---

<header class="wrapper bg-loop font-semibold mb-10">

  <!-- Wrapper -->
  <div class="bs-container py-6 flex justify-between items-center">

    <!-- Logo -->
    <a class="relative flex xl:min-w-32 group" href="/" aria-label={ settings.title + ' - Home' }>

      <LogoText class="absolute -top-10 w-32 h-32 lg:w-48 lg:h-48"  />

    </a>

    <!-- Nav -->
    <nav class="hidden col-span-6 md:flex mx-auto self-stretch lg:gap-2">

      <!-- Links -->
      { settings.nav.map( item =>

        <a class="bs-btn !bg-transparent before:translate-y-full hover:before:translate-y-0"  href={item.link}>
          { item.title }
        </a>

      )}

    </nav>

    <!-- CTA -->
    <a  class="min-w-32 bs-btn" style="background:#ff00aa" href="/#subscription-form">

      { settings.demo.title }

    </button>

  </div>

</header>
