---


---

<section class="bs-container bs-mt-lg grid ">
  <div style="max-width:1024px;" class="m-auto">
    <div class="p-10 mb-20">
    <h1 class="bs-h1">Subscribe Now</h1>
    <div class="grid  grid-cols-1 lg:grid-cols-2">


      <div class="p-10 mr-5 mt-10 bg-black/30 rounded-xl hover:animate-pulse text-xl">
          <h2 class="text-6xl text-center mb-4">BASIC (SRQ)</h2>
          <div class="m-auto" style="width:280px;">
          <script async
            src="https://js.stripe.com/v3/buy-button.js">
          </script>

          <stripe-buy-button
            buy-button-id="buy_btn_1RrFVaPHVHUK6HNnGyUZfLSz"
            publishable-key="pk_live_51RoJ8kPHVHUK6HNntjlQ9ht3e2zOg0KYDw09LKguG2JHsWUXKrTeEXicZFqPJ5Mo6az864MIWvzUY48ewtCAf6Ag00Sg070rQ9"
          >
          </stripe-buy-button>
          </div>
          <div>&bull; Access to one county (Sarasota)</div>
          <div class="text-xs">if you accidentally subscribe via the incorrect county product, don't sweat it, just email us and we'll straighten it out :)</div>
          <div>&bull; Weekly updates delivered by email</div>
          <div>&bull; Access to all case documents</div>
          <div>&bull; Access to all records listed on county website as of July 2025</div>
          <div>&bull; Personal one-on-one tech-support direct from the developer</div>
          
      </div>

      <div class="p-10 ml-5 mt-10 bg-black/30 rounded-xl hover:animate-pulse text-xl">
        <h2 class="text-6xl text-center mb-4">PRO</h2>
        <div class="m-auto" style="width:280px;">
        <script async
          src="https://js.stripe.com/v3/buy-button.js">
        </script>

        <stripe-buy-button
          buy-button-id="buy_btn_1RrFZzPHVHUK6HNnJoDRIfJW"
          publishable-key="pk_live_51RoJ8kPHVHUK6HNntjlQ9ht3e2zOg0KYDw09LKguG2JHsWUXKrTeEXicZFqPJ5Mo6az864MIWvzUY48ewtCAf6Ag00Sg070rQ9"
        >
        </stripe-buy-button>
        </div>
        <div>&bull; Access ALL COUNTIES: Now and into the future.<br/>No matter if we support several hundred across multiple states... At today's pro-rate.</div>
        <div>&bull; Weekly updates delivered by email</div>
        <div>&bull; Access to all case documents</div>
        <div>&bull; Access to all records listed on county websites as of July 2025</div>
        <div>&bull; Personal one-on-one tech-support direct from the developer</div>
        <div>&bull; Report Customizations</div>
      </div>
    </div><!-- /END 2-col -->
    </div>
  </div>
</section>
